/* 导航栏 */
.navbar .item {
  margin-right: 120rpx;
}

/* 顶部图片 */
.top_img {
  width: 100%;
  height: 230rpx;
  padding-top: 95rpx;
  padding-bottom: 10rpx;
  // padding: 95rpx 20rpx 10rpx 10rpx;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  image {
    width: 100%;
    height: 100%;
    margin: 0 20rpx;
  }
}

/* 顶部文字 */
.top_text {
  // background-color: green;
  /* 热门话题标题 */
  .top_title {
    background-color: #fff;
    height: 90rpx;
    display: flex;
    justify-content: space-between;
    // box-sizing: border-box;
    padding: 0 20rpx;
    margin-bottom: 2rpx;
    // border-bottom: 2rpx solid #f1f1f1;
    align-items: center;
    // border-bottom: 2rpx solid #f1f1f1;
    .topic_title {
      font-weight: 700;
      font-size: 40rpx;
    }
    .title_more {
      display: flex;
      font-size: 30rpx;
      color: #949494;
      align-items: center;
      image {
        width: 50rpx;
        height: 50rpx;
      }
    }
  }
  /*热门话题*/
  .top_topic_group {
    // background-color: pink;
    .topic {
      height: 110rpx;
      background-color: #fff;
      color: #6d6d6d;
      font-weight: 700;
      display: flex;
      align-items: center;
      margin-bottom: 2rpx;
      image {
        width: 30rpx;
        height: 30rpx;
        padding: 0 15rpx;
      }
    }
  }
}