/* 导航栏 */
.navbar .item {
  margin-right: 120rpx;
}

/* 顶部图片 */
.top_img {
  width: 100%;
  height: 230rpx;
  padding-top: 95rpx;
  padding-bottom: 10rpx;
  // padding: 95rpx 20rpx 10rpx 10rpx;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  image {
    width: 100%;
    height: 100%;
    margin: 0 20rpx;
  }
}

/* 顶部文字 */
.top_text {
  // background-color: green;
  /* 热门话题标题 */
  .top_title {
    background-color: #fff;
    height: 90rpx;
    display: flex;
    justify-content: space-between;
    // box-sizing: border-box;
    padding: 0 20rpx;
    margin-bottom: 2rpx;
    // border-bottom: 2rpx solid #f1f1f1;
    align-items: center;
    // border-bottom: 2rpx solid #f1f1f1;
    .topic_title {
      font-weight: 700;
      font-size: 40rpx;
    }
    .title_more {
      display: flex;
      font-size: 30rpx;
      color: #949494;
      align-items: center;
      image {
        width: 50rpx;
        height: 50rpx;
      }
    }
  }
  /*热门话题*/
  .top_topic_group {
    // background-color: pink;
    .topic {
      height: 110rpx;
      background-color: #fff;
      color: #6d6d6d;
      font-weight: 700;
      display: flex;
      align-items: center;
      margin-bottom: 2rpx;
      image {
        width: 30rpx;
        height: 30rpx;
        padding: 0 15rpx;
      }
    }
  }
}

.essence {
  width: 100%;
  margin-top: 90rpx;
  background-color: #fff;
  display: flex;
}
/* 单个图片容器的样式 */
.img_item {
  // width: 48.5%;
  flex: 1;
  margin: 2px;
  display: inline-block;
  vertical-align: top;
  background-color: #ffffff;
  font-size: 24rpx;
}
.item_info {
  // border-top: 1px dashed red;
  padding: 0 10rpx;
}
.post_title {
  color: #000;
  /* height: 28px; */
  text-align: left;
  margin: 0px 5px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 32rpx;
}
.post_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20rpx;
  height: 80rpx;
  margin-bottom: 20rpx;
  /* 粉丝信息 */
  .fans_inf {
    display: flex;
    align-items: center;
    /* 粉丝头像 */
    .post_headimg {
      color: #888;
      margin-right: 10rpx;
      width: 35rpx;
      height: 35rpx;
      border-radius: 50%;
      border: 3rpx solid goldenrod;
    }
    /* 粉丝名字 */
    .post_fansname {
      color: #888;
      padding-left: 2px;
      font-size: 19rpx;
    }
  }
  .like_num {
    margin-left: 10rpx;
    color: #bbbbbb;
    display: flex;
    font-size: 20rpx;
    align-items: center;
    .post_like {
      width: 40rpx;
      height: 40rpx;
      padding-right: 5rpx;
    }
  }
}
/* 左侧列表的每一项 */
.jx_post_item_lf {
  border-radius: 10rpx;
  box-shadow: #66666680 0px 0px 5rpx;
  margin-right: 10rpx;
  // margin-bottom: 10prx;
}
/* 右侧列表的每一项 */
.jx_post_item_rg {
  border-radius: 10rpx;
  box-shadow: #66666680 0px 0px 5rpx;
  margin-left: 5rpx;
  // margin-bottom: 10prx;
}
