/* 导航栏 */
.navbar {
  .item {
    margin-right: 60rpx;
  }
}

 /* 隐藏滚动条 */
 ::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

/*顶部搜索栏 及右边的两个*/
.toprow {
  height: 60rpx;
  // background-color: green;
  padding: 16rpx 0 16rpx 0;
  background-color: #fff;
  // box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 85rpx;
  /* 搜索栏 */
  .search {
    display: flex;
    // position: relative;
    padding: 20rpx 30rpx;
    background: #fff;
    width: 100%;
    .input-wrapper {
      background: #f2f2f2;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 68rpx;
      border-radius: 68rpx;
      // position: relative;
      margin-right: 40rpx;
      .searchImg {
        width: 32rpx;
        height: 32rpx;
      }
      input {
        height: 68rpx;
        font-size: 26rpx;
        width: calc(100% - 84rpx);
        margin-left: 20rpx;
      }
    }
    /* 右侧的两个 */
    .top_right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      image {
        width: 40rpx;
        height: 40rpx;
      }
      .gift {
        width: 65rpx;
        height: 70rpx;
        margin-left: 20rpx;
      }
    }
  }
}

/* 轮播图 */
.head_swiper {
  width: 100%;
  height: 400rpx;
  margin-top: 16rpx;
  background-color: #fff;
  // box-sizing: border-box;
  margin: 0 auto;
  // padding-top: 16rpx;
  // border-radius: 20rpx;
  overflow: hidden;
  .paddinglr {
    margin: 0 20rpx 0 20rpx;
    // border-radius: 20rpx;
    // overflow: hidden;
    .top-img {
      border-radius: 20rpx;
      width: 100%;
      height: 400rpx;
    }
  }
}
// 轮播图 指示点位置改变
.wx-swiper-dots {
  position: relative;
  left: unset !important;
  right: 0;
  width: 120rpx;
  height: 10rpx;
  padding-right: 10rpx;
}
.wx-swiper-dots.wx-swiper-dots-horizontal {
  margin-bottom: -5rpx;
}

/* 中间功能区 */
.middle_features {
  height: 200rpx;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 26rpx;
  // display: flex;
  // flex-direction: row;
  .features_group {
    display: flex;
    flex-direction: row;
    .features {
      height: 200rpx;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      align-items: center;
      .item_icon {
        width: 50rpx;
        height: 50rpx;
        margin-bottom: 30rpx;
      }
    }
  }
}

/* 热门公演 */
.hot_show {
  margin-top: 10rpx;
  width: 100%;
  height: 386rpx;
  background-color: #fff;
  box-sizing: border-box;
  .content_item_group {
    .content_item {
      padding: 0 20rpx 0 20rpx;
      display: inline-block;
      height: 260rpx;
      .content {
        image {
          width: 460rpx;
          height: 260rpx;
          border-radius: 20rpx;
        }
      }
    }
  }
}

/* 应援榜 */
.yinyuan {
  margin-top: 10rpx;
  width: 100%;
  height: 330rpx;
  background-color: #fff;
  box-sizing: border-box;
  .rankings {
    display: flex;
    flex-direction: row;
    margin-top: 20rpx;
    .ranking_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      .head {
        position: relative;
        margin-bottom: 20rpx;
        .head_img {
          overflow: hidden;
          border-radius: 50%;
          width: 130rpx;
          height: 130rpx;
          // border: 2rpx solid #ffcb09;
          image {
            width: 130rpx;
            height: 130rpx;
          }
        }
        .rank_img {
          width: 40rpx;
          height: 24rpx;
          position: absolute;
          left: 150rpx;
          top: 104rpx;
        }
      }
    }
  }
}

/* 今日有缘成员 生日祝福 */
.top_bottom {
  width: 100%;
  height: 186rpx;
  background-color: #fff;
  // box-sizing: border-box;
  padding-bottom: 56rpx;
  display: flex;
  // align-content: space-between;
  justify-content: center;
  align-items: center;
  image {
    width: 340rpx;
    height: 190rpx;
    margin-right: 5rpx;
  }
}

/* 正在直播 */
.live {
  background-color: #fff;
  height: 500rpx;
  .memberblive {
    margin-top: 20rpx;
    .scroll-wrap {
      height: 460rpx;
      .live_item {
        width: 264rpx;
        height: 366rpx;
        display: inline-block;
        margin: 0 20rpx;
        border: 2rpx solid #f5f2fbd0;
        box-shadow: 4rpx 10rpx 10rpx 5rpx #fbf6fd96;
        border-radius: 8rpx;
        // background-color: green;
        .live_bg {
          width: 264rpx;
          height: 366rpx;
          // padding-bottom: 28rpx;
          border-radius: 8rpx;
        }
        .live_head {
          margin-top: -335rpx;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          .head_img {
            // overflow: hidden;
            width: 120rpx;
            height: 120rpx;
            margin-bottom: 20rpx;
            image {
              width: 120rpx;
              height: 120rpx;
              border-radius: 50%;
              border: 2rpx solid #c7c2d7;
            }
          }
          .live_title {
            margin-top: 20rpx;
            color: #cccccc;
            font-size: 22rpx;
          }
        }
      }
    }
  }
}
